.formShipping{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    font-weight: 400;
    user-select: none;
}
.forgot{
    text-align: center;
}
.sign-up{
    text-align: center;
}
.sign-up .borders{
    margin-left: 0.2rem;
    text-decoration: underline;
}
.form-container-shipping{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50rem;
    padding: 2rem;
    border-radius: 1.5rem;
    list-style-type: none;
    /* box-shadow: .4px 4px 12px rgba(0,0,0,0.2);
    text-shadow: .4px .4px 5px rgba(0,0,0,0.2); */
    background-color: #fff;
}
.form-container-shipping p span{
    /* display: flex;
    margin-bottom: .5rem;
    margin-top: .5rem; */
    margin-left: .5rem;
}
.form-container-shipping .dp__name-phone{
    display: flex;
    flex-direction: column;
}
.form-container-shipping .dp_shipping{
    display: flex;
}
.form-container-shipping .dp_shipping .dp__phone{
    margin-left: 7rem;
}
.form-container-shipping .dp__name-phone label{
    width: 9rem;
    font-weight: bold;
}
.form-container-shipping .form__shipping-btn{
    text-align: center;
}
.form-container-shipping .form__shipping-btn button{
    color: #fff;
    padding: .8rem 3rem;
    border: .1rem #808080 solid;
    border-radius: 2rem;
    background-color: #FF6F61;
    cursor: pointer;
}
    
.form-container-shipping .form__shipping-btn p{
    color: #FF6F61;
    cursor: pointer;
    margin-top: 1rem;
}

.form-container-shipping li{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.form-container-shipping li select{
   border: none;
}
.form-container-shipping li select:focus{
    border: #FF6F61;
}
.form-container-shipping input{
    display: block;
    margin: .5rem 1rem auto;
    border: none;
    border-bottom: .1rem solid #ddd;
    outline: none;
    padding: .5rem .4rem;
}
.form-container-shipping input:focus{
    border-bottom: .1rem solid #FF6F61;
}
.form-container-shipping button{
    border-radius: 2rem;
    margin-top: 1rem;
}
.form-container-shipping .back{
    border-radius: 2rem;
}
.create__address{
    cursor: pointer;
    color: #FF6F61;
}
@media (min-width: 575px) and (max-width: 767.98px) {
    .form-container-shipping{  
        width: 30rem;
    }
    .form-container-shipping p span{
        margin-left: .2rem;
    }
    .form-container-shipping .dp_shipping .dp__phone{
        margin-left: 6rem;
    }
} 

@media (max-width: 574.98px) {
    .form-container-shipping{  
        width: 22rem;
    }
    .form-container-shipping .dp_shipping{
        display: block;
    }
    .form-container-shipping .dp__name-phone label{
        width: 7rem;
        font-weight: bold;
    }
    .form-container-shipping .dp_shipping .dp__phone{
        margin-left: 0;
    }
} 
