.top-bar {
    padding: 3px 0;
    font-size: 14px;
    color: #FF6F61;
    background: #000000;
}
  
.top-bar i {
  margin-right: 5px;
}
.top-bar__res-pone{
  display: none;
}

@media (max-width: 993px) {
  .top-bar{
    display: none;
  }
}