.form__change-password {
    border-radius: 1rem;
    max-width: 25rem;
    margin: 0 auto;
    background-color: #fff;
}
.form__change-password .title {
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    user-select: none;
}
@media (min-width: 768px)and (max-width:1024px) {
    .form__change-password {
        max-width: 22rem;
    }
}
@media (max-width: 767.98px){
    .form__change-password {
        max-width: 20rem;
    }
}
.form__change-password > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.form__change-password > div  .group__password {
    position: relative;
    display: flex;
    border-bottom: .1rem solid dodgerblue;
    margin: .8rem 1rem auto;
}
.form__change-password label {
    margin: 1rem 0;
}
.form__change-password input {
    display: block;
    border: none;
    outline: none;
    padding: .6rem .4rem;
}
.update-password{
    margin-bottom: 2rem;
}
.form__change-password button{
    border-radius: 2rem;
}

.form__password-label {
    position: absolute;
    right: .8em;
    z-index: 4;
    top: calc(50% - 0.5em);
    cursor: pointer;
    color: #919aa3;
}
