.product-detail {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-detail .product-detail-top,
.product-detail .product-detail-bottom {
    margin-bottom: 30px;
}

.product-detail .product-detail-top {
    padding: 20px 0 0 0;
    background: #ffffff;
}

.product-detail .product-slider-single img {
    width: 100%;
}

.product-detail .product-slider-single-nav {
    margin: 15px 30px 30px 30px;
    border: 3px double #FF6F61;
}

.product-detail .product-slider-single-nav .slider-nav-img {
    border-right: 1px solid #FF6F61;
    overflow: hidden;
}

.product-detail .product-slider-single-nav img {
    width: 100%;
    transition: all .3s;
}

.product-detail .product-slider-single-nav img:hover {
transform: scale(1.2);
}

.product-detail .product-content,
.product-detail .product-content .title,
.product-detail .product-content .ratting,
.product-detail .product-content .price,
.product-detail .product-content .details,
.product-detail .product-content .quantity,
.product-detail .product-content .p-color__p-size,
.product-detail .product-content .action {
    position: relative;
    width: 100%;
}
.product-detail .product-content .p-color__p-size .p-size {
    margin-left: 50px;
}
.product-detail .product-content .p-color__p-size .p-share {
    margin-left: 72px;
}
.product-detail .product-content .p-color__p-size .p-share .p-share__icon {
    margin-top: -3px;
}
.product-detail .product-content .p-color__p-size .p-share .p-share__icon p {
    display: inline;
    margin-left: 5px;
}

.product-detail .product-content {
    padding: 0 30px 30px 30px;
}

@media (min-width: 768px) {
    .product-detail .product-content {
        padding-left: 0;
    }
}
@media (max-width: 804px) {
    .product-detail .product-content .p-color__p-size {
        display: flex;
        flex-wrap: wrap;
    }
    .product-detail .product-content .p-color__p-size .p-size {
        margin-left: 20px;
    }
    .product-detail .product-content .p-color__p-size .p-share {
        margin-left: 20px;
    }
    
}
@media (max-width: 554px) {

    .product-detail .product-content .p-color__p-size .p-size {
        margin-left: 0px;
    }
    .product-detail .product-content .p-color__p-size .p-share {
        margin-left: 0px;
    }
    .section-header h1{
        font-size: 20px;
    }
    
}
@media (max-width: 768px) {

    .product-detail .product-content .p-color__p-size .p-size {
        margin-left: 0px;
    }
    
}

/* @media (min-width: 768px) and (max-width:1024px) {
    .product-detail .product-content {
        margin-left: 50px;
    }
} */

.product-detail .product-content .title h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.product-detail .product-content .ratting {
    margin-bottom: 10px;
}

.product-detail .product-content .ratting i {
    color: #FF6F61;
    font-size: 16px;
}

.product-detail .product-content .price,
.product-detail .product-content .quantity,
.product-detail .product-content .p-size,
.product-detail .product-content .p-color {
    margin-bottom: 15px;
}

.product-detail .product-content .price h4,
.product-detail .product-content .quantity h4,
.product-detail .product-content .p-size h4,
.product-detail .product-content .p-color h4 {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

.product-detail .product-content .price p {
    display: inline-block;
    color: #FF6F61;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.product-detail .product-content .price .price__decrease {
    color: #999999;
    text-decoration: line-through;
    margin-left: 12px;
}

.product-detail .product-content .quantity .qty {
    display: inline-block;
    font-size: 0;
}

.product-detail .product-content .quantity button {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #FF6F61;
    border: none;
}

.product-detail .product-content .quantity button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.product-detail .product-content .quantity button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.product-detail .product-content .quantity input {
    width: 40px;
    height: 30px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background: #000000;
    border: none;
}

.product-detail .product-content .action a:first-child {
    margin-right: 11px;
}
.product-detail .product-content .p-color__p-size {
    display: flex;
}

.product-detail .product-content .action a i {
    margin-right: 5px;
}

.product-detail .nav.nav-pills .nav-link {
    color: #FF6F61;
    background: #000000;
    border-radius: 0;
    transition: all .3s;
}

.product-detail .nav.nav-pills .nav-link:hover,
.product-detail .nav.nav-pills .nav-link.active {
    color: #000000;
    background: #FF6F61;
}

.product-detail .tab-content {
    background: #ffffff;
    padding: 25px 15px 15px 15px;
}

.product-detail .tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-detail .tab-content ul li {
    margin-bottom: 10px;
}

.product-detail .tab-content ul li::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.product-detail .tab-content .reviews-submitted {
    position: relative;
    margin-bottom: 45px;
}

.product-detail .tab-content .reviewer {
    color: #FF6F61;
    font-size: 18px;
    font-weight: 600;
}

.product-detail .tab-content .reviewer span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.product-detail .tab-content .ratting {
    color: #FF6F61;
    margin-bottom: 15px;
}

.product-detail .tab-content .reviews-submit .ratting {
    font-size: 24px;
}

.product-detail .tab-content .form input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-detail .tab-content .form textarea {
    width: 100%;
    height: 80px;
    padding: 6px 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-detail .tab-content .form button {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all .3s;
}

.product-detail .tab-content .form button:hover {
    color: #ffffff;
    background: #FF6F61;
}
.success{
    color: #20a020;
}
.danger{
    color:#a02020;
}
.p-rating{
    display: flex;
}
/*Rating*/
.rating i{
    color: #FF6F61;
    margin: 5px 0;
    padding-right: 5px;
    cursor: pointer;
}
.rating i:hover{
    color: #FFF;
}
.rating .star{
    position: relative;
}
.rating .star-1{
    position: absolute;
    top:0;
    left: 0;
    width: 115px;
    overflow: hidden;
}

/***   Comment-reviews  ****/
.comments h2{
    text-align: left;
}
.app_title{
    color: #FF6F61;
    font-family:  Helvetica, sans-serif;
}
.reviews{
    width: 115px;
    margin: 10px 0;
}
.reviews input{
    display: none;
}
.reviews label{
    color: #999;
    margin: 5px 0;
    padding-right: 5px;
    cursor: pointer;
    float: right;
}
.reviews input:not(:checked) ~ label:hover,
.reviews input:not(:checked) ~ label:hover ~ label{
    color: crimson;
}
.reviews input:checked ~ label{
    color: crimson;
}



/*form input*/
.form_input{
    margin: 10px 0;
}
.form_input input{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    min-height: 40px;
    outline: none;
}
.form_input button{
    background: #FF6F61;
    color: white;
    padding: 10px 0;
    width: 150px;
    margin: 20px 0;
    border: none;
}
.product-detail-top .product__image {
    background-position: inherit;
} 
.product-detail-top .product__image {
    /* margin-top: 2rem; */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    width: 100%;
    min-height: 15em;
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
} 
/* .product-detail-top .product__image {
    cursor: pointer;
} 
.product-detail-top .product__image img {
   margin-left: 2rem;
   cursor: pointer;
}  */
.product-img-magnifier > div > img {
    min-height: 20em;
    max-height: 250px;
    object-fit: contain;
}

/*Multiple images*/
button.slide-arrow-image.slick-arrow.prev-arrow {
  left: 0;
}

button.slide-arrow-image.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow.next-arrow{
  right: 0;
}

button.slide-arrow-image.slick-arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
.box-image {
    padding: 1rem 0;
}
.grid-sub-image {
    cursor: pointer;
    position: relative;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
}
.border-sub__image_lastimage {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
  
.border-sub__image.active > img {
    border: 1px solid #FF6F61;
    border-radius: 4px;
}
  
.border-sub__image_lastimage > span {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 9px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    text-align: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    div > img.img-fluid {
      display: none;
    }
    .makeStyles-root-1 {
      display: none;
    }
}